*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(0, 28, 41);
    font-family: 'Grandstander', cursive;
}

h1 {
    margin: 0;
}




/*Header*/
header {
    background-color: white;
    font-size: 100%;
    padding: 30px;
    text-align: center;
}



/*Section*/
.score-board {
    border: white 3px solid;
    border-radius: 5%;
    height: 100px;
    width: 200px;
    margin: 25px auto;
    padding-top: 30px;
}

.badge {
    background-color: rgb(255, 70, 70);
    color: white;
    padding: 4px 5px;
    height: 22px;
    width: 55px;
}

#user-label {
    position: absolute;
    margin-top: 5px;
    margin-left: -25px;
    text-align: center;
}

#computer-label {
    position: absolute;
    margin-top: 5px;
    margin-left: 170px;
    text-align: center;
}

.score {
    color: white;
    font-size: 40px;
    text-align: center;
}

.result {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 50px
}

.choices {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 40px;
}

.choice {
    border: 3px solid white;
    border-radius: 100%;
    padding: 2% 2%;
    transition: all .3s ease;
    margin: 1%;
}

.choice:hover {
    cursor: pointer;
    background-color: rgb(0, 20, 29);
}

#rock-image,
#paper-image,
#scissors-image {
    height: 100%;
    width: 100%;
}

.action-message {
    text-align: center;
    color: white;
    font-size: 25px;
}

.green-glow {
    border: 3px solid rgb(0, 255, 0);
    box-shadow: 0 0 5px rgb(0, 255, 0);
}

.red-glow {
    border: 3px solid rgb(255, 0, 0);
    box-shadow: 0 0 5px rgb(255, 0, 0);
}

.gray-glow {
    border: 3px solid rgb(59, 59, 59);
    box-shadow: 0 0 5px rgb(59, 59, 59);
}

.love {
    color: rgb(0, 28, 41);
}