.label {
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 44px;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 30vh;
}

.input {
    height: 48px;
    width: 320px;
    margin-top: 22px;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 6px;
    padding-left: 10.5px;
    font-size: 20px;
}

.button { 
    background: #06C668;
    border: none;
    box-sizing: border-box;
    border-radius: 6px;
    height: 48px;
    width: 320px;
    margin-top: 22px;
    font-size: 20px;
    color: white;
}

.button:hover { 
    background: #07d672;
    cursor: pointer;
}

.content_center {
    text-align: center;
}